PORT=8989
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
MONGODB_CONNECTION_URI="YOUR_MONGODB_CONNECTION_URI"
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=10
GEMINI_MODEL="models/gemini-3.1-flash-lite"
GEMINI_MODEL_TEMPERATURE="0.3"
